.heading {
    width: 100%;
    background-color: var(--color-primary);
    padding: 0.6rem 1.1rem;
    border: none;
    border-radius: 0.5rem;
    position: relative; /* necessary for z-index to work*/
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.heading:hover {
    cursor: pointer;
}

.chevron {
    width: 1.5rem;
    transform: rotate(180deg);
    transition: transform ease 300ms;
}

.chevron.pivot {
    transform: rotate(0deg);
}

.heading h2 {
    font-size: 1.3rem;
    font-weight: 500;
    color: white;
}

.container {
    display: flex;
    flex-direction: column;
}

.content {
    margin-top: -0.7rem;
    background: var(--color-secondary-lightest);
    border-radius: 0.5rem;
    flex-basis: 0;
    padding: 0 1.1rem;
    overflow: hidden;
    font-size: 1.2rem;
    transition: all ease 300ms;
}

.content li {
    font-size: 1.2rem;
}

.show .content {
    padding: 2.3rem 1.1rem;
    flex-basis: 160px;
}

@media screen and (min-width: 600px) {
    .dropdown {
        margin: 0;
        flex: 1;
    }
}

@media screen and (min-width: 768px) {
    .heading {
        padding: 1rem 1.7rem;
    }
}

@media screen and (min-width: 900px) {
    .heading {
        padding: 1.3rem 2rem;
        border-radius: 1rem;
    }

    .about .heading {
        border-radius: 0.5rem;
    }

    .heading h2 {
        font-size: 1.8rem;
    }

    .about .heading h2 {
        font-size: 2.4rem;
    }

    .chevron {
        width: 2.3rem;
    }

    .content,
    .content > li {
        font-size: 1.5rem;
        line-height: 2rem;
    }

    .content {
        padding: 0 2rem;
    }

    .content.show {
        padding: 2.7rem 2rem;
    }
}

@media screen and (min-width: 1200px) {
    .content,
    .content > li {
        font-size: 1.8rem;
        line-height: 2.5rem;
    }

    .about .content {
        font-size: 2.4rem;
        line-height: 3.4rem;
    }
}
