.footer {
    margin-top: 2.2rem;
    padding: 4rem;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer span {
    color: white;
}

.copyright {
    margin-top: 1.5rem;
    font-size: 1.2rem;
}
