.footer {
    background-color: black;
    padding: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer span {
    color: white;
}

.footer .brand__letters {
    font-size: 3.5rem;
}

.footer .brand__logo {
    width: 2rem;
    margin-bottom: -0.3rem;
    margin-right: 0.3rem;
}

.copyright {
    margin-top: 1.5rem;
    font-size: 1.2rem;
}
