.footer {
    width: 100%;
    margin-top: 2.2rem;
    padding: 4rem;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer span {
    color: white;
}

.copyright {
    margin-top: 1.5rem;
    font-size: 1.2rem;
}

@media screen and (min-width: 600px) {
    .copyright {
        font-size: 1.7rem;
    }
}

@media screen and (min-width: 900px) {
    .copyright {
        font-size: 2rem;
    }
}

@media screen and (min-width: 1200px) {
    .copyright {
        font-size: 2.4rem;
    }
}
