@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");

:root {
    --color-primary: #ff6060;

    --color-secondary-lightest: #f7f7f7;
    --color-secondary-light: #e5e5e5;
    --color-secondary-dark: #e3e3e3;
    --color-secondary--darkest: #c4c4c4;

    font-size: 10px;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--color-primary);
    font-size: 16px;
    font-family: Montserrat, "Helvetica Neue", sans-serif;
}

body {
    max-width: 1920px;
    margin: auto;
}

#root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.main {
    flex-grow: 1;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

nav > a.active {
    text-decoration: underline;
}

ul {
    list-style: none;
}
